.emoji-tool-menu {
    border: 1px solid rgb(204, 204, 204);
  }
  
  .emoji-categories button {
    margin-right: 0.5rem;
  }
  
  .emoji-list {
    height: 30vh;
    overflow-y: scroll;
    font-size: 2vw;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 204);
  }

  .emoji-item {
    display: inline-block;
  }

  