.finish-button{
    position: absolute;
    left: 10%;
  }

.association-game {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2.5%;
}

.white-board-container {
    position: relative;
    width: 70%;
    height: 90%;
}

.tool-bar-container {
    position: relative;
    width: 20%;
    max-height: 90%;
}

.finish-button {
    position: absolute;
    left: 95%;
    top: 95%;
}