<div class="shape-tool">
  <button @click="toggleMenu">Shape Tool</button>
  <div v-if="menuVisible" class="shape-menu">
    <select id="shapes" name="Shapes" v-model="settings.shape">
      <option value="rectangle">Rectangle</option>
      <option value="circle">Circle</option>
      <option value="triangle">Triangle</option>
    </select>
    <input type="color" id="fillColor" v-model="settings.fillColor">Fill Color</input>
    <input type="range" min="0" max="16" id="strokeWidth" v-model="settings.strokeWidth">Stroke Width</input>
    <input type="color" id="strokeColor" v-model="settings.strokeColor">Stroke Color</input>
    <canvas id="shapePreview" width="64" height="64" />
  </div>
</div>